// K

$color-background: #460529
$color-overview-background: #2f021b

$color-text: #f7f7f7
$color-accent: #febe00

$font-body: Futura
$font-monospace: menlo, monaco, inconsolata, consolas, monospace

$subtle-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.12)
$ease-extreme-out: cubic-bezier(.05, .9, 0, 1)


// Z

$z-active-slide: 1
$z-sheets: 199
$z-flyout: 200
$z-junk: 400
$z-xray: 1000
$z-xray-next: $z-xray + 1
$z-xray-selected: $z-xray + 2
$z-xray-stack: $z-xray + 3

// ツ

$icon-add-circle: '\e90e'
$icon-add: '\e910'
$icon-arrow-right: '\e900'
$icon-bound: '\e912'
$icon-check: '\e913'
$icon-chevron-down: '\e90a'
$icon-chevron-right: '\e90b'
$icon-delete: '\e901'
$icon-clock: '\e918'
$icon-close: '\e902'
$icon-close-small: '\e90c'
$icon-close-circle: '\e903'
$icon-console-add: '\e90d'
$icon-eye: '\e917'
$icon-ffwd: '\e905'
$icon-inspect: '\e919'
$icon-load: '\e916'
$icon-pencil: '\e904'
$icon-pin: '\e906'
$icon-play: '\e907'
$icon-revert: '\e908'
$icon-target: '\e914'
$icon-swap: '\e911'
$icon-window: '\e909'
$icon-window-up: '\e90f'

