// K

$color-background: #460529
$color-overview-background: #2f021b

$color-text: #f7f7f7
$color-accent: #febe00

$font-body: Futura
$font-monospace: menlo, monaco, inconsolata, consolas, monospace

$subtle-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.12)
$ease-extreme-out: cubic-bezier(.05, .9, 0, 1)


// Z

$z-active-slide: 1
$z-repl: 100
$z-sheets: 199
$z-flyout: 200
$z-junk: 400
$z-xray: 1000
$z-xray-next: $z-xray + 1
$z-xray-selected: $z-xray + 2
$z-xray-stack: $z-xray + 3

// ツ

$icon-add-circle: '\e90e'
$icon-add: '\e910'
$icon-arrow-right: '\e900'
$icon-bound: '\e912'
$icon-check: '\e913'
$icon-chevron-down: '\e90a'
$icon-chevron-right: '\e90b'
$icon-delete: '\e901'
$icon-clock: '\e918'
$icon-close: '\e902'
$icon-close-small: '\e90c'
$icon-close-circle: '\e903'
$icon-console-add: '\e90d'
$icon-eye: '\e917'
$icon-ffwd: '\e905'
$icon-inspect: '\e919'
$icon-load: '\e916'
$icon-pencil: '\e904'
$icon-pin: '\e906'
$icon-play: '\e907'
$icon-revert: '\e908'
$icon-target: '\e914'
$icon-swap: '\e911'
$icon-window: '\e909'
$icon-window-up: '\e90f'

@mixin icon($which: null)
  @if $which
    content: $which
  font-family: 'icons' !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

// F

@mixin fill($buffer: 0)
  bottom: $buffer
  left: $buffer
  position: absolute
  right: $buffer
  top: $buffer

@mixin reify
  content: ''
  display: block

@mixin no-appearance
  -webkit-appearance: none
  background: none
  border: none
  margin: 0
  outline: none
  padding: 0

