@import './common'

#slide-0
  h1
    bottom: 13vh
    font-size: 17vh
    font-weight: bold
    left: -0.8rem
    letter-spacing: -0.07em
    position: absolute
    z-index: 1
  h2
    bottom: 14vh
    color: $color-accent
    font-size: 2vh
    font-weight: 100
    left: 37vh
    letter-spacing: 3vw
    position: absolute
    z-index: 1

  svg
    bottom: -10rem
    height: 100vh
    left: -10rem
    position: absolute

    path
      fill: #28000a

#slide-1
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh

#slide-2
  h1
    font-size: 3vw
    padding: 10vh 6vw 6vh

  ul
    list-style-type: none

  #s4-export-list
    columns: 4
    padding: 0 6vw

    h2
      color: $color-accent
      padding: 3em 0 1em

    > li
      break-inside: avoid

      ul ul
        border-left: 1em solid rgba(0, 0, 0, 0.3)
        margin-bottom: 1em
        padding-left: 2em

      li
        line-height: 3em

    code
      font-size: 3vh

#slide-3
  .snippet
    position: absolute

  #snippet-tasks-model .snippet
    left: 5vw
    top: 10vh
  #snippet-tasks-view .snippet
    height: 55vh
    left: 5vw
    top: 37vh
  #snippet-tasks-main .snippet
    left: 50vw
    top: 10vh
  #tasks
    left: 50vw
    padding: 0.5em
    position: absolute
    top: 28vh
    z-index: 2

    .checklist
      background: #ededed
      border: 1px dotted #000
      border-radius: 0.3em
      color: #333
      padding: 1em
      width: 30em

      p
        bottom: 1.3em
        font-size: 1.5vh
        position: absolute
        right: 1.3em

      .name input
        @include no-appearance
        background: #e6e6e6
        border-bottom: 1px solid #2fb500
        font-family: helvetica
        font-size: 1.4vh
        padding: 0.4em 0.8em
        width: calc(100% - 3.5em)

      button
        @include no-appearance
        background: #666
        border-radius: 0.2em
        color: #fff
        padding: 0.3em 0.6em 0.4em

      .task
        padding: 0.3em 0
        position: relative
        &:last-child
          margin-bottom: 1em

        button
          display: none
          position: absolute
          right: 0.8em
          top: 0.5em

        &:hover button
          display: block

#slide-4
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh

#slide-5
  ul
    font-size: 3vw
    font-style: italic
    padding-left: 8vw
    padding-top: 58vh

    li
      padding-bottom: 2vh

#slide-6
  #snippet-pets, #snippet-pets2
    left: 6vw
    position: absolute
    top: 16vh

  .pets
    font-size: 2em
    left: 64vw
    position: absolute
    top: 20vh

    > .janus-list > .janus-list
      padding-bottom: 5vh
      &:last-child
        border-bottom: none

    .pet
      margin-bottom: 0.5em

      .kind
        margin-left: 1em
        &:after
          @include icon($icon-chevron-down)
          position: relative
          right: 1.3em
          top: 0.2em

    input, select
      @include no-appearance
      background: $color-overview-background
      border-bottom: 1px dotted #fff
      border-radius: 0
      color: #fff
      font-family: helvetica
      font-size: 2vh
      padding: 0.5em 0.8em

    .janus-literal:after
      content: ', '
    .janus-literal:last-child:after
      content: ''

    .janus-inspect-entity
      display: block
      padding-bottom: 5vh

#slide-7, #slide-8
  .CodeMirror
    font-size: 1.5vh

  #snippet-payment
    left: 4vw
    position: absolute
    top: 8vh
    width: 43vw

  #snippet-payment-payment
    position: absolute
    left: 47vw
    top: 8vh

    h3
      display: none

  #snippet-payment-post
    display: none

  .slide-contents > .payment
    left: 4.3vw
    position: absolute
    top: 66vh

    hr
      border-top: 1px dotted #000
      border-bottom: none
      margin: 1em 0
      width: 47em

    label
      display: block
      + label
        margin-left: 25vh
        margin-top: -5.6vh
        position: absolute

    input[type=text], input[type=number], select
      @include no-appearance
      background: $color-overview-background
      border-bottom: 1px dotted #fff
      border-radius: 0
      color: #fff
      font-family: helvetica
      font-size: 2vh
      padding: 0.5em 0.8em

    .networks
      margin-left: 50vh
      margin-top: -4.8vh
      position: absolute
      width: 7em

      span
        display: inline-block
        filter: invert(1)
        height: 2.5em
        transition: opacity 0.2s
        width: 3em
      .visa
        background: url(/assets/visa.png)
      .mastercard
        background: url(/assets/mastercard.png)

      &.network-mastercard .visa
        opacity: 0.2
      &.network-visa .mastercard
        opacity: 0.2

    .fund
      select
        width: 12.1em
      &:after
        @include icon($icon-chevron-down)
        font-size: 1.8em
        position: relative
        right: 1.3em
        top: 0.2em

    .billing-address + label
      margin: 1em 0

    .different-address
      margin-right: 0.5em

    .shipping-address
      opacity: 0.4
      pointer-events: none
      transition: 0.2s opacity

      &.active
        opacity: 1
        pointer-events: auto
        transition: none

#slide-8
  #snippet-composition
    left: 4vw
    position: absolute
    top: 8vh
    width: 43vw

  #snippet-composition-payment
    position: absolute
    left: 47vw
    top: 8vh

    h3
      display: none

  #snippet-composition-post
    display: none

  .cover
    background: $color-background
    opacity: 0.7
    pointer-events: none
    position: absolute
    z-index: 2
  .cover-1
    height: 50vh
    left: 4vw
    top: 8vh
    width: 43vw
  .cover-2
    height: 29vh
    left: 47vw
    top: 8vh
    width: 53vw
  .cover-3
    height: 27vh
    left: 47vw
    top: 40vh
    width: 53vw
  .cover-4
    height: 20vh
    left: 47vw
    top: 71vh
    width: 53vw

#slide-9
  #snippet-tabs
    margin-left: 6vw
    margin-top: 6vh
    width: 96vh

    .CodeMirror
      font-size: 1.5vh

  #tabs
    $bg: #eee
    left: 70vw
    position: absolute
    top: 30vh
    width: 26vw

    .tabs .tab
      display: inline-block
      font-size: 1.6vh
      padding: 0.4em 0.8em

      &.checked
        background: #eee
        color: #000

    button
      position: absolute
      right: 0
      top: 0.6vh

    .document
      background: #eee

      .name input
        @include no-appearance
        border-bottom: 1px dotted #000
        font-size: 2vh
        padding: 0.6em
        width: calc(100% - 2.8vh)
      .content textarea
        @include no-appearance
        font-size: 1.3vh
        min-height: 15vh
        padding: 1vh 1.3vh
        width: calc(100% - 2.8vh)

#slide-10
  #snippet-dragdrop
    margin-left: 6vw
    margin-top: 11vh
    .CodeMirror
      height: auto
    width: 50vw
  #snippet-dragdrop-3
    h3
      display: none
    margin-left: 6vw
    margin-top: -2vh
    width: 50vw
    .CodeMirror
      height: auto

  #snippet-dragdrop-2, #snippet-dragdrop-4
    display: none

  #dragdrop
    left: 60vw
    position: absolute
    top: 14vh
    width: 35vw

    > .janus-list > div
      padding-bottom: 2vh

    .workspace
      border: 1px dotted #fff
      height: 25vh
      position: relative
      width: 35vw

    .box
      background: $color-accent
      border: 1px dotted #fff
      height: 2em;
      margin-left: -1em
      margin-top: -1em
      position: absolute
      width: 2em

#slide-11
  .CodeMirror
    font-size: 1.4vh

  #snippet-flyouts
    left: 3vw
    position: absolute
    top: 13vh
    width: 49vw

  #snippet-flyouts-impl
    left: 54vw
    position: absolute
    top: 13vh
    h3
      display: none

  #flyouts
    left: 0
    position: absolute
    top: 0

    .content
      left: 54.3vw
      position: absolute
      top: 70vh

    .person
      background: #fff
      border: 1px dotted #fff
      color: $color-overview-background
      padding: 1vh
      min-width: 20vw

    .flyout
      box-shadow: $subtle-shadow
      position: absolute

#slide-12
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh

#slide-13
  #locs
    font-family: $font-monospace
    font-size: 1.4vh
    margin: 8vh auto

    td + td
      color: $color-accent
      text-align: right
      width: 5em

    tr:last-child
      border-top: 1px dotted #fff
      color: $color-accent

#slide-14
  .CodeMirror
    font-size: 2.4vh
  #snippet-from
    margin-left: 6vw
    margin-top: 20vh
  #from-1
    margin-left: 6vw
    width: 25vw

#slide-15
  .CodeMirror
    font-size: 2.4vh
  #snippet-point
    margin-left: 6vw
    margin-top: 4vh
  #point-1, #point-2
    margin-left: 6vw
    width: 25vw
  #snippet-point-2
    margin-left: 6vw
    margin-top: 5vh
    h3
      display: none

#slide-16
  .CodeMirror
    font-size: 2.4vh
  #snippet-mutator
    margin-left: 6vw
    margin-top: 20vh

#slide-17
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh

#slide-18
  .CodeMirror
    font-size: 2.4vh
  #snippet-derived
    margin-left: 6vw
    margin-top: 70vh

#slide-19
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh

#slide-20
  #snippet-studio
    display: none
  #studio
    bottom: 28vh
    left: 6vw
    position: absolute
    width: 35vw

  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh

#slide-21
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh
    a
      color: #fff
      font-style: italic

#slide-22
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh
    a
      color: #fff
      font-style: italic

#slide-23
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh

#slide-24
  ul
    font-size: 3vw
    font-style: italic
    padding-left: 8vw
    padding-top: 58vh

    li
      padding-bottom: 2vh

#slide-25
  h1
    font-size: 3vw
    padding-left: 6vw
    padding-top: 75vh

